@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Regular.eot");
    src: url("../fonts/Metropolis-Regular.otf") format('opentype'),
        url("../fonts/Metropolis-Regular.woff") format('woff'),
        url("../fonts/Metropolis-Regular.woff2") format('woff2')
}

body {
    position: relative;
    max-width: 500px;
    min-width: 285px;
    min-height: 100%;
    margin: auto;
    padding: 1em;
    font-family: "Metropolis";
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1em;
}

.notice {
    position: fixed;
    right: 0;
    padding-right: 1.5em;
    text-align: right;
    font-size: 0.8em;
}

.wip-notice {
    bottom: 1.5em;
}
